<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Wiki Crimes</title>
</head>

<body ng-app='wiki-crimes'>
<div class="col-md-12" ng-controller="AppController">
            <div class="panel panel-default">
                <div class="panel-heading">Registre o crime:</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group col-md-12 text-center">
                                <label class="col-md-6 control-label">Tipo de Crime</label>
                                <div class="col-sm-3">
                                    <select ng-model="tipoCrime">
                                        <option value=""></option>
                                        <option value="furto">Furto</option>
                                        <option value="roubo">Roubo</option>
                                        <option value="tentativaFurto">Tentativa de Furto</option>
                                        <option value="tentativaRoubo">Tentativa de Roubo</option>
                                        <option value="outros">Outros</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select ng-model="outrosCrimes">
                                        <option value=""></option>
                                        <option value="violencia">Violência</option>
                                        <option value="violenciaDomestica">Violência Doméstica</option>
                                        <option value="abusoAutoridade">Abuso de Autoridade</option>
                                        <option value="homicidio">Homicídio</option>
                                        <option value="tentativaHomicidio">Tentativa de Homicídio</option>
                                        <option value="latrocinio">Latrocínio</option>
                                        <option value="atentadoPudor">Atentado ao Pudor</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12 text-center">
                                    <label class="col-md-6 control-label">Estado</label>
                                    <div class="col-sm-6">
                                        <select id="estado" ng-model="estadoSelecionado" ng-options="estado as estado.nome for estado in estadosCidades">

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 text-center">
                                    <label class="col-md-6 control-label">Cidade</label>
                                    <div class="col-sm-6">
                                        <select id="cidade" ng-model="cidadeSelecionada" ng-options="cidade for cidade in estadoSelecionado.cidades">

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 text-center">
                                    <label class="col-md-6 control-label">Rua</label>
                                    <div class="col-sm-6">
                                        <input type="text" ng-model="rua">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <button ng-click="" class="btn btn-primary" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

</body>
