<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Wiki Crimes</title>
</head>

<body ng-app="wiki-crimes">
    <div class="camuflagem">
    </div>

    <header ng-controller="CrimeController">
        <nav class="navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Wiki Crimes</a>
                    <button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle pull-right">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="navbar-nav nav">
                        <li ng-if="currentUser">
                            <a href="#" ng-click="abreModal()">Registrar um crime</a>
                        </li>
                        <li>
                            <a href="#">
                                <login-buttons align="right"></login-buttons>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container content">
            <div ng-if="currentUser">
                <div>
                    teste
                </div>
            </div>
            <div ng-if="!currentUser">
                <div>
                    teste
                </div>
            </div>
        </div>
    </main>

    <!-- Modal -->
    <div ng-controller="CrimeController" ng-if="currentUser">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form name="cadastroCrime" class="form-horizontal" ng-submit="cadastroCrime.$valid && insereNovoCrime(novoCrime)">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Registrar um Crime</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Colabora com nosso projeto registrando ocorrências de criminalidade e violência. WikiCrimes é um projeto em que a participação é fundamental. Ele precisa que cada usuário tenha comprometimento com seus registros e que eles incentivem a participação de outros no projeto.
                            </p>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Data:</label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control" ng-model="novoCrime.data" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Tipo de Crime:</label>
                                <div class="col-md-5">
                                    <select ng-model="novoCrime.tipoCrime" class="form-control" required>
                                        <option value="furto">Furto</option>
                                        <option value="roubo">Roubo</option>
                                        <option value="tentativaFurto">Tentativa de Furto</option>
                                        <option value="tentativaRoubo">Tentativa de Roubo</option>
                                        <option value="outros">Outros</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select ng-model="novoCrime.outrosCrimes" class="form-control" ng-if="novoCrime.tipoCrime == 'outros'" required>
                                        <option value="violencia">Violência</option>
                                        <option value="violenciaDomestica">Violência Doméstica</option>
                                        <option value="abusoAutoridade">Abuso de Autoridade</option>
                                        <option value="homicidio">Homicídio</option>
                                        <option value="tentativaHomicidio">Tentativa de Homicídio</option>
                                        <option value="latrocinio">Latrocínio</option>
                                        <option value="atentadoPudor">Atentado ao Pudor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Estado:</label>
                                <div class="col-md-9">
                                    <select id="estado" class="form-control" ng-model="novoCrime.estadoSelecionado" ng-options="estado as estado.nome for estado in estadosCidades" required>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Cidade:</label>
                                <div class="col-md-9">
                                    <select id="cidade" class="form-control" ng-model="novoCrime.cidadeSelecionada" ng-options="cidade for cidade in novoCrime.estadoSelecionado.cidades" required>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Rua:</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="novoCrime.rua" required>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /Modal -->


        <!-- Modal -->
        <div ng-controller="CrimeController" ng-if="currentUser">
            <div class="modal fade" id="modalErro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Oh não! Ocorreu um erro ao tentar executar a operação.</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="fechaModalErro()">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal -->

        <!-- Modal -->
        <div ng-controller="CrimeController" ng-if="currentUser">
            <div class="modal fade" id="modalSucesso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Obrigado por colaborar! O seu relato foi registrado no sistema.</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="fechaModalSucesso()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Modal -->
    </div>
</body>
